/* line 6, ../compass/sass/style.scss */
body .container.B .row.B {
  height: 65vh;
  overflow: hidden;
}
/* line 9, ../compass/sass/style.scss */
body .container.B .row.B .image {
  position: relative;
  width: 100%;
  height: 65vh;
}
/* line 14, ../compass/sass/style.scss */
body .container.B .row.B .tweet {
  position: absolute;
  top: 45%;
  left: 100px;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
