/* line 5, ../compass/sass/style.scss */
body .container.B {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/* line 9, ../compass/sass/style.scss */
body .container.B .row.B {
  padding: 0px;
  height: 700px;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
/* line 15, ../compass/sass/style.scss */
body .container.B .row.B .col-xs-12 {
  padding: 0px;
  margin: 0px;
}
/* line 18, ../compass/sass/style.scss */
body .container.B .row.B .col-xs-12 .image {
  position: relative;
  width: 100%;
  height: 700px;
}
/* line 23, ../compass/sass/style.scss */
body .container.B .row.B .col-xs-12 .tweet {
  position: absolute;
  top: 30%;
  left: 30px;
  font-size: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
